body {text-align: center;}
h1 {font-family: Arial, sans-serif; font-size: 18px; color: #454545; font-weight: bold;}
.togglr {border: 1px #cccccc solid; width: 500px; margin: 20px auto; padding: 10px; text-align: left;}
.ttoggle {font-family: Arial; font-size: 18px; border: 1px #0000f1 solid; margin-bottom: 20px;}
.ttitle {font-family: Arial; font-size: 18px; border: 1px #f10000 solid; margin-top: 10px;}
.tcontent {font-family: Arial; font-size: 16px; border: 1px #00f100 solid; margin-bottom: 10px;}