body, h1 {text-align: center; font-family: Arial, sans-serif; font-size: 16px; color: #454545;}
h1 {width: 400px; margin: 0px auto;}
.togglr {width: 400px; margin: 20px auto; text-align: left;}
.ttoggle {border: 1px #454545 solid; text-align: center; width: 100px; padding: 5px; margin: 5px;}
.ttitle, .ttitle.topen { border: 1px #52D200 solid; background-repeat: no-repeat; background-position: right center; background-color: #F4FFEE;}
.ttitle {background-image: url('ad.png');}
.ttitle.topen {background-image: url('au.png');}
.tcontent {font-size: 16px; border: 1px #CECECE solid; background: #F2F2F2; font-style:italic;}
.downloadLink {background: #53C953; border: 2px #38B238 solid; text-decoration: none; color: #ffffff;}
.ttitle, .tcontent, .downloadLink {padding: 15px 10px; margin:5px;}
